<form
  action=""
  [formGroup]="form"
  class="mx-auto mt-12 w-[500px] p-6 rounded-xl shadow-md bg-white shadow-green-400"
>
  <p class="mb-4 text-3xl text-center font-bold handlee">Sign Up</p>
  <div class="form-field">
    <label class="base-label" for="username">Username:</label>
    <input
      class="base-input"
      type="text"
      name="username"
      formControlName="username"
      id=""
    />
  </div>
  <div class="form-field">
    <label class="base-label" for="email">Email:</label>
    <input
      class="base-input"
      type="email"
      name="email"
      formControlName="email"
      id=""
    />
  </div>
  <div class="form-field">
    <label class="base-label" for="password">Password:</label>
    <input
      class="base-input"
      type="text"
      name="password"
      formControlName="password"
      id=""
    />
  </div>
  <div class="form-field">
    <label class="base-label" for="confirmPassword">Confirm Password:</label>
    <input
      class="base-input"
      type="text"
      name="confirmPassword"
      formControlName="confirmPassword"
      id=""
    />
  </div>
  <button type="submit" class="primary-btn mx-auto block w-full mt-4">
    Sign Up
  </button>
</form>
