<h2 mat-dialog-title>Add new todo</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Due date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-select formControlName="status">
        <mat-option
          *ngFor="let status of STATUS_OPTIONS"
          [value]="status.value"
        >
          {{ status.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="isImportant">Important?</mat-checkbox>
    <mat-checkbox formControlName="isUrgent">Urgent?</mat-checkbox>
    <div>
      <button
        type="button"
        (click)="clickDetail()"
        class="hover:underline text-sm"
      >
        {{ !showDetail() ? "More details" : "Hide details" }}
        <span
          ><i
            class="fa-solid fa-chevron-down {{
              showDetail() ? 'rotate-180' : 'rotate-0'
            }} transition-all ease-in-out duration-300"
          ></i
        ></span>
      </button>
      <div *ngIf="showDetail()" class="mt-4">
        <label for="">Subtasks</label>
        <div class="border rounded-md border-gray-500 p-4">
          <div *ngFor="let subtask of subtasks.controls; let i = index">
            <div
              class="flex justify-between items-center space-x-2"
              formArrayName="subtasks"
            >
              <mat-form-field appearance="fill" class="w-full">
                <input
                  matInput
                  [formControlName]="i"
                  placeholder="Enter subtask"
                />
              </mat-form-field>
              <button
                type="button"
                class="secondary-btn"
                (click)="removeSubtask(i)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
          <button type="button" class="primary-btn" (click)="addSubtask()">
            Add subtask
          </button>
        </div>
        <div></div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-dialog-actions>
</form>
