<div class="max-w-4xl mx-auto my-8 p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold text-gray-800 mb-4">Todo Detail</h1>

  <div *ngIf="this.todo()">
    <!-- Todo Title -->
    <div class="flex items-center mb-4 space-x-2">
      <h2 class="text-2xl font-semibold text-gray-900">
        {{ this.todo()?.title }}
      </h2>
      <span
        *ngIf="this.todo()?.isImportant"
        class="px-3 py-1 rounded-full text-sm font-medium text-white bg-red-500"
        >Important</span
      >
      <span
        *ngIf="this.todo()?.isUrgent"
        class="px-3 py-1 rounded-full text-sm font-medium text-white bg-yellow-500"
        >Urgent</span
      >
    </div>
    <div class="flex items-center gap-2 mt-2">
      <ng-container *ngFor="let tag of todo()?.tags">
        <div
          class="px-2 py-1 rounded-full text-sm font-medium text-white bg-green-600 uppercase"
        >
          {{ tag }}
        </div>
      </ng-container>
    </div>

    <!-- Todo Description -->
    <div class="mb-4">
      <h3 class="text-lg font-semibold text-gray-700">Description:</h3>
      <p class="text-gray-600">{{ this.todo()?.description }}</p>
    </div>

    <!-- Due Date -->
    <div class="mb-4">
      <h3 class="text-lg font-semibold text-gray-700">Due Date:</h3>
      <p class="text-gray-600">{{ this.todo()?.dueDate | date }}</p>
    </div>

    <!-- Status -->
    <div class="mb-4">
      <h3 class="text-lg font-semibold text-gray-700">Status:</h3>
      <span
        class="px-3 py-1 rounded-full text-sm font-medium text-white bg-green-500"
        >{{ this.status }}</span
      >
    </div>

    <!-- Subtasks -->
    <div class="mb-6">
      <h3 class="text-lg font-semibold text-gray-700">Subtasks:</h3>
      <div
        class="pl-5 p-2 border rounded-md space-y-1"
        *ngIf="
          this.todo()?.subtasks && (this.todo()?.subtasks)!.length > 0;
          else noSubtasks
        "
      >
        <ul *ngFor="let subtask of this.todo()?.subtasks">
          <li class="flex items-center">
            <input
              type="checkbox"
              [checked]="subtask.isCompleted"
              class="mr-3"
              [name]="subtask.title"
            />
            <label class="text-gray-600" [for]="subtask.title">{{
              subtask.title
            }}</label>
          </li>
        </ul>
      </div>
      <ng-template #noSubtasks>
        <p class="text-gray-600">No subtasks provided!</p>
      </ng-template>
    </div>

    <!-- Images -->
    <div class="mb-6">
      <h3 class="text-lg font-semibold text-gray-700">Images:</h3>
      <div class="flex space-x-4">
        <img
          src="https://via.placeholder.com/150"
          alt="Image 1"
          class="w-24 h-24 object-cover rounded-lg shadow-md"
        />
        <img
          src="https://via.placeholder.com/150"
          alt="Image 2"
          class="w-24 h-24 object-cover rounded-lg shadow-md"
        />
      </div>
    </div>

    <!-- Additional Information (Optional) -->
    <div class="mb-6">
      <h3 class="text-lg font-semibold text-gray-700">Notes:</h3>
      <textarea
        class="w-full p-3 border rounded-md shadow-sm outline-green-500"
        rows="4"
        placeholder="Add any notes here..."
        [value]="this.todo()?.notes || ''"
      ></textarea>
    </div>

    <!-- Actions (Optional) -->
    <div class="flex justify-between">
      <div class="flex space-x-2">
        <button class="secondary-btn" (click)="clickEditBtn()">Edit</button>
        <a class="secondary-btn" routerLink="/todos">Back to list</a>
      </div>
      <button class="primary-btn">Delete</button>
    </div>
  </div>
</div>
